.logInNavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid black;
    height: 60px;
    color: white;

    .bankName {
        padding-left: 90px;
    }

    .navContainer {
        cursor: pointer;
        .listContainer {
            width: 800px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li {
                list-style: none;
            }

            .signUpBtn {
                text-align: center;
                border: 1px solid white;
                height: 30px;
                width: 90px;
                border-radius: 20px;
                font-size: 15px;
                cursor: pointer;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}